<footer>
    <div>
        <p>pauLeo | Your Vision, Uninterrupted</p>
        <p>Designed with <span style="color:brown">love</span> by <i><a href="http://www.linkedin.com/in/john-kponyo-8294871ba">kponyojdk</a></i> </p>
    
    </div>
  </footer>