<html lang="en">

<!--head-->
<%- include('./partials/head.ejs') %>

<body id="about" >

    <!--nav-->
    <%- include('./partials/nav.ejs') %>

      <main>
        <div>
          <img class="img-fluid mx-auto d-block rounded-circle" src="img/about-img.png" alt="About pauLeo image">
        </div>
        <div id="description">
          <p>
            Welcome to <b>Paul Leonard's Video Platform</b> – the ultimate destination for a seamless, branded video experience. Unlike traditional video hosting services, our platform is meticulously designed to cater exclusively to Paul Leonard's creative vision and brand identity.
          </p>
          <p>
            Our mission is to provide a premium, uninterrupted viewing experience for our audience, ensuring that every video reflects the high standards and unique style that Paul Leonard is known for.
          </p>
        </div>
      </main>


       <!--footer-->
       <%- include('./partials/footer.ejs') %>
      


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>